body{
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.keyboard{
    width: 80%;
    height: 50%;
    background-color: ;
    position: relative;
    display: flex;
}

/* WHITE KEYS */
.keys.white{
    height: 100%;
    width: 80px;
    background-color: white;
    color: black;
    border: .5px solid #333;
    box-sizing: border-box;
    position: relative;
}

/* BLACK KEYS */
.keys.black{
    height: 70%;
    width: 50px;
    background-color: black;
    position: absolute;
    z-index: 2;
    box-shadow: #333;
}

/* Inner key (the .btn you wanted) */
.key.btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 5px;
}

.key.btn p{
    color: white;
    font-size: 12px;
}
.white .key.btn p{
    color: black;
    font-size: 12px;
}