@font-face {
    font-family: raju;
    src: url(./sf-pro-text_semibold.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* :root{
    --x : 100px;
    --y : 100px
}

.box{
    height: 100%;
    width: 100%;
    background-color: var(--lal);
    background: radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.84));
    position: absolute;
    z-index: 9;
}

video{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    height: 100%;
}

.page .top{
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: raju;
    padding: 20px;
    color: white;
}

.page .main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main .card{
    background-color: rgb(26, 25, 25);
    color: white;
    font-family: monospace;
    width: 300px;
    height: 200px;
    border: .5px solid white;
    border-radius: 10px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover{
    scale: .9;
} */



h1{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;
    position: absolute;
    color: rgb(255, 119, 0);
}