@font-face {
    font-family: raju;
    src: url(./sf-pro-text_semibold.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%
}
/* main{
    height: 100%;
    width:100%;
    position: relative;
    text-align: center;
}
main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box{
    height: 200px;
    width: 200px;
    background-color: rgb(255,0,255);
    border-radius: 10px;
    border: 2px solid white;
}
h1{
    background-color: rgba(255, 255, 255, 0.235);
    backdrop-filter: blur(3px);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 50px;
    font-size: 20px;
    position:absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
button{
    background-color: rgba(255, 255, 255, 0.235);
    backdrop-filter: blur(3px);
    padding: 5px;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    font-weight: 200;
    position: absolute;
    z-index: 10;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

button:active{
    scale: 1.01;
} */

/* main{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button{
    padding: 10px;
    border: none;
    border-radius: 50px;
    position: relative;
    z-index: 10;
}

button:active{
    scale: 1.2;
}

h1{
    white-space: nowrap;
    font-family: raju;
    text-transform: uppercase;
    color: #EED202;
} */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 30px;
    
}

.card p{
    font-family: raju;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
}
span{
    color: royalblue;
}
.outer{
    background-color: grey;
    width: 100%;
    height: 15px;
    border-radius: 50px;
}
.inner{
    background-color: green;
    width: 0%;
    height: 100%;
    border-radius: 50px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.bottom h2 {
    font-size: 30px;
    font-family: monospace;
}

.bottom button{
  padding: 12px 25px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 18px;

  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.bottom button:active{
  scale: 0.95;
} */

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 380px;
    padding: 20px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    position:relative;
}

.card div{
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.card h1{
    color: black;
    margin-top: 15px;
    text-align: center;
}

.card i{
    font-size: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    color: white;

    background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
} */

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    font-family: raju;
}

.card{
    width: 270px;
    height: 370px;
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
}

.card img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h3{
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}
.card h4{
    color: royalblue;

}

.card p{
    font-family: monospace;
    margin-top: 5px;
    font-weight: 100;
    color: black;
}