@font-face {
    font-family: raju;
    src: url(./sf-pro-text_semibold.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-family: monospace;
}

.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.card h3{
    font-weight: 800;
    font-size: 20px;
    margin-top:15px;
}

.card h5{
    font-weight: 800;
    font-size: 20px;
    margin-top:15px;
    color: red;
}

.card button{
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    font-family: raju;
}


button:active{
    scale: .95;
}