@font-face {
    font-family: raju;
    src: url(./sf-pro-text_semibold.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: raju;
    color: white;
}

html, body{
    height: 100%;
    width: 100%
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;

}

.elem{
    width: 100%;
    height: 180px;
    border-bottom: solid 1px white;
    display: flex;
    align-items: center;
}

.elem h1{
    font-size: 7vw;
    padding-left: 10px;
    position: absolute;
    z-index: 9;
    mix-blend-mode: difference;
}

.elem img{
    height: 150px;
    width: 220px;
    object-fit: cover;
    position: absolute;
    transition: all linear .2s;
    opacity: 0;
}
