@font-face {
    font-family: raju;
    src: url(./sf-pro-text_semibold.woff2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: raju;
    color: white;
}

html, body{
    height: 100%;
    width: 100%
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linearn 0.1s;
}

h1{
    font-size: 9vw;
}